{% extends 'murojaat_base.html' %}

{% load static %}

{% block aloqa_active %} active {% endblock %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid" style="margin-bottom: 90px; border-top: 2px solid blue;">
        <div class="container1">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <div class="murojaat_shapka" style="display:flex;">
                    <img src="{% static 'img/gerb.png' %}" alt="gerb">
                    <h2 style="text-align: center;">MUHAMMAD AL-XORAZMIY NOMIDAGI TOSHKENT AXBOROT TEXNOLOGIYALARI UNIVERSITETI FARG'ONA FILIALI DIREKTORI <span style="text-align: center; color: blue;">MUXTAROV FARRUX MUHAMMADOVICH</span><br>VIRTUAL QABULXONASI</h2>
                    <img src="{% static 'img/tatu_logo.png' %}" alt="gerb">
                </div>
                <hr>
                <div class="murojaat_shapka_second" style="width: 90%; margin: 0 5%;border-bottom: 2px solid blue;">
                    <h5>Sizda hal etilmagan muammolar, ariza, shikoyat yoki takliflar bormi? U holda murojaatingizni to'g'ridan-to'g'ri Muhammad Al-Xorazmiy nomidagi Toshkent Axborot Texnologiyalari Universiteti Farg'ona Filiali direktoriga yuborishingiz mumkin.</h5>
                </div>

            </div>
        </div>
    </div>
    <!-- Header End -->

<!--    murojaat start-->
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="margin: 0 15%;">
	<form enctype="multipart/form-data" id="myform" method="post" accept-charset="utf-8">
		{% csrf_token %}
	<div class="row">

		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading" style="background-color: #337AB7; padding: 5px;">
					<h4 style="color: #fff;">Murojaatni yuborish uchun barcha maydonlarni to'ldirish shart</h4>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label" for="fish">F.I.SH. <span>*</span></label>
						<input type="text" id="fish" class="form-control" name="fish" value="{{ form.fish.value|default_if_none:'' }}" placeholder="Familiya, ism, sharifingizni kiriting">
						{{ form.fish.errors }}
					</div>
					<div class="form-group">
						<label class="control-label" for="ish_joyi">Ish joyingiz va lavozimingizni kiriting (Talabalar uchun o'quv yurti nomi guruh va yo'nalish nomi')<span>*</span></label>
						<input type="text" id="ish_joyi" class="form-control" name="ish_joyi" value="{{ form.ish_joyi.value|default_if_none:'' }}" placeholder="Ish joyingiz va lavozimingizni kiriting (Talabalar uchun o'quv yurti nomi guruh va yo'nalish nomi)">
						{{ form.ish_joyi.errors }}
					</div>

					<div class="row">
						<div class="col col-md-6">
							<div class="form-group">
								<label class="control-label" for="telefon">Telefon raqam <span>*</span></label>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">+998</span>
									<input type="telefon" id="telefon" class="form-control" name="telefon" value="{{ form.telefon.value|default_if_none:'' }}" placeholder="+XXX-XX-XXX-XX-XX" aria-describedby="basic-addon1">
									{{ form.telefon.errors }}
								</div>
							</div>

						</div>
						<div class="col col-md-6">
							<div class="form-group">
								<label class="control-label" for="email">Elektron pochta <span>*</span></label>
								<input type="email" id="email" class="form-control" name="email" value="{{ form.email.value|default_if_none:'' }}" placeholder="example@example.com">
								{{ form.email.errors }}
							</div>

						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="hudud">Hudud <span>*</span></label>
						<select id="hudud" class="form-control" name="hudud">
							{% for value, name in form.hudud.field.choices %}
                    <option value="{{ value }}" {% if form.hudud.value == value %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
						</select>
						{{ form.hudud.errors }}
					</div>

					<div class="form-group">
						<label class="control-label" for="manzil">Manzil <span>*</span></label>
						<input type="text" id="manzil" class="form-control" name="manzil" value="{{ form.manzil.value|default_if_none:'' }}" placeholder=" QFY, MFY, ko'cha va uy raqami">
						{{ form.manzil.errors }}
					</div>

					<div class="form-group">
						<label class="control-label" for="passport">Pasport ma'lumotlari <span>*</span></label>
						<input type="text" id="passport" class="form-control" name="passport" value="{{ form.passport.value|default_if_none:'' }}" placeholder="Passport seriyasi, raqami, qachon va kim tomonidan berilgan">
						{{ form.passport.errors }}
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading" style="background-color: #337AB7; padding: 5px;">
					<h4 style="color: #fff;">Murojaat mazmuni</h4>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label" for="murojaat_turi">Murojaat turi <span>*</span></label>
						<select name="murojaat_turi" class="form-control" id="murojaat_turi">
							{% for value, name in form.murojaat_turi.field.choices %}
							<option value="{{ value }}" {% if form.murojaat_turi.value == value %}selected{% endif %}>{{ name }}</option>
						{% endfor %}
						</select>
						{{ form.murojaat_turi.errors }}
					</div>

					<div class="form-group">
						<label class="control-label" for="murojaat_mavzusi">Murojaat mavzusi <span>*</span></label>
						<input type="text" id="murojaat_mavzusi" class="form-control" name="murojaat_mavzusi" value="{{ form.murojaat_mavzusi.value|default_if_none:'' }}" placeholder="Murojaat mavzusini kiriting">
						{{ form.murojaat_mavzusi.errors }}
					</div>

					<div class="form-group">
						<p class="text-mess">
							Murojaatingiz tezkor ravishda xal etilishini istasangiz, xar bir masala bo'yicha alohida murojaat yo'llashingizni xamda mazkur murojaatni tushunarli, oddiy va ravon tilda bayon etishingizni so'raymiz!
						</p>
					</div>
					<div class="form-group  ">
						<label class="control-label" for="murojaat_matni">Murojaat matni <span>*</span></label>
						<textarea id="murojaat_matni" class="form-control" name="murojaat_matni" value="{{ form.murojaat_matni.value|default_if_none:'' }}" style="min-height:185px" placeholder="Murojaat matnini kiriting"></textarea>
						{{ form.murojaat_matni.errors }}
					</div>

					<div class="form-group">
						<label class="control-label" for="murojaat_fayli">Fayl biriktirish (yuborish mumkin bo'lgan fayl kengaytmalar doc,docx,pdf,jpg,png )	</label>
						<input type="file" id="murojaat_fayli" class="form-control" name="murojaat_fayli" placeholder="Yuklash...">
						{{ form.murojaat_fayli.errors }}
					</div>

					<div class="row">
						<div class="form-group">
								<div class="col-md-4 col-xs-12">
									<button type="submit" class="btn btn-primary btn_s">JO'NATISH</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
</div>
<!--    murojaat start-->


{% endblock %}
