{% extends 'murojaat_base.html' %}

{% load static %}

{% block statistika_active %} active {% endblock %}

{% block content %}
<style>
  .chart-container {
    height: 400px;
  }

  .chart-container canvas {
    width: 100% !important;
    height: 100% !important;
  }
  .mychart {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 3% 10%;

  }
  .chart-container {
    flex: 1;
    max-width: 40%;
    position: relative;
  }
  .chart-container p {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  }
  .murojaatid {
  background-color: pink;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  font-size: 24px;
  }
  .statistika
  {
  width: 70%;
  margin: 3% 10%;
  background-color: #cee8ed;
  padding: 5px;
  }
</style>

    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Statistika</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Asosiy</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Statistika</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!--murojaat id -->
    {% if murojaat_id %}
        <p class="murojaatid">Sizning Murojaat ID: {{ murojaat_id }}</p>
    {% endif %}
    <!--murojaat id -->

    <!-- Statistika Start -->
    <div class="statistika">
        <p>Jami xatlar: {{ murojaat_count }}</p>
        <ul>
            {% for status in status_count %}
                <li>{{ status.status }}: {{ status.total }}</li>
            {% endfor %}
        </ul>
    </div>
<div class="mychart">
    <div class="chart-container">
        <p>Murojaat turi bo'yicha</p>
        <canvas id="myChart1"></canvas>
    </div>
    <div class="chart-container">
        <p>Murojaat holati bo'yicha</p>
        <canvas id="myChart2"></canvas>
    </div>
</div>
<div class="mychart">
    <div class="chart-container">
        <p>Murojaat turi bo'yicha</p>
        <canvas id="myChart3"></canvas>
    </div>
    <div class="chart-container">
        <p>Viloyatlar bo'yicha</p>
        <canvas id="myChart4"></canvas>
    </div>
</div>
<script type="text/javascript">
    var statusData = JSON.parse('{{ status_count_json|escapejs }}');
    var murojaatTuriData = JSON.parse('{{ murojaat_turi_count_json|escapejs }}');
    var acceptedLastWeekData = JSON.parse('{{ accepted_last_week_json|escapejs }}');
    var hududData = JSON.parse('{{ hudud_count_json|escapejs }}');
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const ctx1 = document.getElementById('myChart1').getContext('2d');
    const ctx2 = document.getElementById('myChart2').getContext('2d');
    const ctx3 = document.getElementById('myChart3').getContext('2d');
    const ctx4 = document.getElementById('myChart4').getContext('2d');

    const labels = statusData.map(item => item.status);
    const data = statusData.map(item => item.total);

    const murojaatTuriLabels = murojaatTuriData.map(item => item.murojaat_turi);
    const murojaatTuriDataValues = murojaatTuriData.map(item => item.total);

    const acceptedLastWeekLabels = acceptedLastWeekData.length ? acceptedLastWeekData.map(item => item.murojaat_turi) : ['No Data'];
    const acceptedLastWeekDataValues = acceptedLastWeekData.length ? acceptedLastWeekData.map(item => item.total) : [0];

    const hududLabels = hududData.map(item => item.hudud);
    const hududDataValues = hududData.map(item => item.total);

    new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: murojaatTuriLabels,
            datasets: [{
                label: '# Murojaat Turlari',
                data: murojaatTuriDataValues,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            maintainAspectRatio: false
        }
    });

    new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                data: data,
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false
        }
    });

    new Chart(ctx3, {
        type: 'bar',
        data: {
            labels: acceptedLastWeekLabels,
            datasets: [{
                label: '# Songgi 1 haftalik qabul',
                data: acceptedLastWeekDataValues,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            maintainAspectRatio: false
        }
    });

    new Chart(ctx4, {
        type: 'line',
        data: {
            labels: hududLabels,
            datasets: [{
                label: 'Viloyatlar boyicha',
                data: hududDataValues,
                borderWidth: 1,
                backgroundColor: 'lightgreen',
                fill: true
            }]
        },
        options: {
            maintainAspectRatio: false
        }
    });
});
//['Murojaat', 'Taklif', 'Shikoyat', 'Talabnoma', 'Bosh_ish_orin', 'Rahbariyat_qabuli', 'Sayt_mamuriyatiga']
</script>
    <!-- Statistika End -->

{% endblock %}