<!--{% extends "base.html" %}-->
<!--{% block content %}-->
<!--<h2>Your Letters</h2>-->
<!--<ul>-->
<!--    {% for murojaat in murojaats %}-->
<!--        <li>-->
<!--            <strong>{{ murojaat.subject }}</strong> - {{ murojaat.get_status_display }}{% if murojaat.is_read %} (Read){% endif %}-->
<!--            <p>{{ murojaat.message }}</p>-->
<!--            {% if murojaat.answer %}-->
<!--                <p><strong>Answer:</strong> {{ murojaat.answer }}</p>-->
<!--            {% endif %}-->
<!--        </li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--{% endblock %}-->